<ion-view view-title="{{item.title}}" class="stable-bg">
  <ion-content>
    <div class="card">
      <ion-item class="item">
        <h2 style="white-space: initial">{{item.title}}</h2>
        <div class="row">
          <span class="col">by {{item.author}}</span>
          <span class="col pub-date">{{item.pubDate}}</span>
        </div>
      </ion-item>
      <ion-item class="item-body">
        <div ng-bind-html="item.body"></div>
      </ion-item>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#/app/items/{{prevId}}">
          <i class="icon ion-arrow-left-a"></i>
          Prev
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-eye"></i>
          Read
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-star"></i>
          Star
        </a>
        <!-- <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a> -->
        <a class="tab-item" href="#/app/items/{{nextId}}">
          <i class="icon ion-arrow-right-a"></i>
          Next
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
