<ion-view view-title="{{folderName}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-left" ng-repeat="feed in feeds" href="#/app/feeds/{{feed.id}}">
        <i class="icon"><img src="{{feed.faviconLink}}"></i>
        {{feed.title}}
        <span class="badge badge-assertive">{{feed.unreadCount}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
