<ion-view view-title="Folders">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-left" ng-repeat="folder in folders" href="#/app/folders/{{folder.id}}">
        <i class="icon ion-folder"></i>
        {{folder.name}}
        <span class="badge badge-calm">0</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
