<ion-view view-title="Items">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in items" href="#/app/items/{{item.id}}">
        {{item.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
